<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.lotson.dao.UserDao">

	<select id="selectAdminInfo" resultType="String">
		SELECT 
			ADMIN_ID
		FROM TB_ADMIN
		WHERE ADMIN_ID = 'admin'
		 
	</select>
	
	<select id="findByUserName" parameterType="String" resultType="kr.co.lotson.model.TbAdmin">
		SELECT
			*
		FROM TB_ADMIN
		WHERE ADMIN_ID = #{adminId}
	</select>
	
	<select id="checkFailCount" parameterType="String" resultType="int">
		SELECT
			PASSWORD_FAIL_COUNT
		FROM TB_ADMIN
		WHERE ADMIN_ID = #{adminId}
	</select>
	
	<update id="upFailCount" parameterType="string" >
		UPDATE
			TB_ADMIN
		SET
			PASSWORD_FAIL_COUNT = PASSWORD_FAIL_COUNT+1
		WHERE 
			ADMIN_ID = #{adminId}
	</update>
	
	<update id="lockStatus" parameterType="string">
		UPDATE
			TB_ADMIN
		SET
			STATUS = 3
		WHERE 
			ADMIN_ID = #{adminId}
	</update>
	
	<update id="resetFailCount" parameterType="string">
	
		UPDATE 
			TB_ADMIN 
		SET
			PASSWORD_FAIL_COUNT = 0
		WHERE 
			ADMIN_ID =#{adminId}
	</update>
	
	<select id="selectList" resultType="kr.co.lotson.model.TbAdmin">
		SELECT
			*
		FROM TB_ADMIN
	</select>
	
	
</mapper>